html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.indexCenter {
  display: "flex";
  align-items: "center";
  justify-content: "center";
}

.blackoutBanner{ 
  width: 1em; 
  height: 1em 
}
.githubIcon {
  z-index: 1001;
}
.infoIcon {
  z-index: 1001;
}
.contactIcon {
  z-index: 1001;
}
.rwwIcon {
  z-index: 1001;
}
.githubIcon:hover {
  cursor: pointer;
}
.infoIcon:hover {
  cursor: pointer;
  
}
.contactIcon:hover {
  cursor: pointer;
  
}
.rwwIcon:hover {
  cursor: pointer;
}
.footerClass{
  font-family: monospace;
  font-size: 40px;
}
.floatAboveEverything {
	z-index: 1000;
}
.homeNav {
  background: url("/public/Home.png") no-repeat;
  width: 244px;
  height: 90px;
  cursor: default;
  z-index: 1000;
}
.homeNav:hover {
  cursor: pointer;
  background: url("/public/HomeHover.png");
}
.indexpos {
  z-index: 1001;
}